body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
#title {
    background-color: rgb(244, 166, 98);
    color: white;
}

.container-fluid {
    padding: 3% 10%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
}

p {
    color: rgb(162, 162, 162);
}

#img-hp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    transform: rotate(15deg);
}

/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.2rem;
}
.btn-download {
    margin: 5% 3% 10% 0;
}

/* Feature Section  */

#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: rgb(243, 199, 160);
    margin-bottom: 1rem;
}

.icon:hover {
    color: rgb(244, 166, 98);
}